<template>
  <div class="container-fluid">
    <menu-agenda :rotas="routes"/>
    <transition name="pagina">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import { routes } from './routes'
import Menu from './components/menu/Menu.vue'
export default {
  components: {
    'menu-agenda': Menu
  },
  data(){
    return{
      routes: routes.filter(route => route.menu)
    }
  }
}
</script>

<style>
  .pagina-enter, .pagina-leave-active {
    opacity: 0
  }
  .pagina-enter-active, .pagina-leave-active {
    transition: opacity .4s
  }
</style>
