<template>
  <div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="icone">Filtro</span>
      </div>
      <input class="col-md-12 form-control mr-sm-2" type="search" id="pesquisar" name="pesquisar" @input="filtro = $event.target.value" placeholder="Informe um contato pelo nome" aria-label="Search">
    </div>
    <br/>
    <ul class="nav">
      <li class="flex-sm-fill nav-item" :key="contato._id" v-for="contato in contatosFiltrados">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ contato.nome }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ contato.email }}</h6>
            <p class="card-text">{{ contato.telefone }}</p>
            <router-link :to="{ name: 'cadastroContato', params: { id: contato._id } }"><button type="button" class="btn btn-warning">Alterar</button></router-link>
            <button type="button" class="btn btn-danger" @click="remove(contato)">Excluir</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import ContatoService from '../../../../agenda/src/domain/ContatoService';
import Menu from '../menu/Menu.vue';

export default {
  data(){
    return{
      contatos: [],
      filtro: '',
      service: '',
    }
  },
  methods: {
    remove(contato) {
      this.service.apaga(contato._id)
        .then(() => {
            let indice = this.contatos.indexOf(contato);
            this.contatos.splice(indice, 1);
            this.mensagem = 'Contato removido com sucesso'
          }, 
          err => this.mensagem = err.message);
    }
  },
  created(){
    this.service = new ContatoService(this.$resource);
    this.service
    .lista()
    .then(contatos => this.contatos = contatos, err => this.mensagem = err.message);
  },
  computed: {
    contatosFiltrados(){
      if(this.filtro){
        let exp = new RegExp(this.filtro.trim(), 'i');
        return this.contatos.filter(contato => exp.test(contato.nome));
      }else{
        return this.contatos;
      }
    }
  }
}
</script>

<style scoped>
  li{
    padding-bottom: 20px;
  }
</style>