<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="navbar-brand" :key="rota.titulo" v-for="rota in rotas">
            <router-link class="nav-link" :to="rota.path ? rota.path : '/'">{{rota.titulo}}</router-link>
          </li>
        </ul>
      </div>
    </nav>
    <br/>
  </div>
</template>

<script>
export default {
  props: {
    rotas: {
        type: Array,
        required: true
    }
  }
}
</script>

<style scoped>

</style>