<template>
  <div>
    <form>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Insira o nome do contato" v-model="contato.nome" required>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="email" placeholder="Insira o e-mail do contato" v-model="contato.email" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" placeholder="Insira o telefone do contato" v-model="contato.telefone" required>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button type="button" class="btn btn-primary" @click="grava()">Salvar</button>
            </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Contato from '../../domain/Contato';
import ContatoService from '../../../../agenda/src/domain/ContatoService';

export default {
  data() {
    return {
      contato: new Contato(),
      service: '',
      id: this.$route.params.id
    }
  },
  methods: {
    grava(){
      this.service
        .cadastra(this.contato)
        .then(() => {
          this.$router.push({ name:'agenda' });
          this.contato = new Contato();
        }, err => console.log(err));
    }
  },
  created(){
    this.service = new ContatoService(this.$resource);
    if(this.id){
      this.service
        .busca(this.id)
        .then(contato => this.contato = contato);
    }
  }
}
</script>

<style scoped>

</style>